p {
    font-family: 'kanit';
    font-size: var(--header-3);
    margin-left: 5%;
    margin-right: 5%;
}

h3 {
    font-family: 'kanit';
    padding-top: 5%;
}

h2 {
    font-family: 'kanit';
    font-size: var(--header-2);
    padding-left: 5%;
    font-weight: normal;
}

body {
    background-color: var(--quartz);
}

article>a {
    text-decoration: none;
    color: var(--quartz);
    background-color: var(--bleu-triangle);
    font-family: 'rubik';
    font-size: var(--header-2);
    margin-top: 10%;
}


.titre {
    font-family: 'rubik';
    font-size: var(--header-1);
    color: var(--quartz);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding-top: 10%;
    padding-right: 10%;
}

p>a {
    color: black;
}

h4 {
    text-align: center;
    font-size: var(--header-4);
    font-family: 'kanit';
    font-weight: normal;

}

h4>a {
    color: black;
}

blockquote {
    font-family: 'kanit';
    font-size: var(--header-3);
}

dd {
    font-family: 'kanit';
    font-size: var(--header-3);
    margin-right: 5%;
}

h2>a {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-left: 5%;
}

h2>a>p {
    font-size: var(--header-2);
}