/* Groupes pour éviter d'avoir des doublons */

p,
q,
blockquote,
figcaption,
.glossaire,
h4,
h2,
h3 {
    font-family: 'kanit';
}

p,
q,
blockquote,
figcaption,
.glossaire,
h4 {
    margin-left: 20px;
    font-size: var(--header-3);
}

h2,
section>a {
    font-size: var(--header-2);
    margin-right: 10px;
    margin-right: 10%;
}

h4>a,
h2>a,
section>a {
    color: var(--texte);
    text-align: center;
}

h2>a,
section>a {
    text-decoration: none;
}

h3,
h2 {
    padding-top: 20px;

}

h2,
h4 {
    font-weight: normal;
}


/* Règles spécifique */

p {
    margin-right: 10%;
}

h2 {
    margin-left: 20px;
}

p>a {
    color: var(--texte);
}

h4 {
    text-align: center;
    font-size: var(--header-4);
    margin-right: 20px;
}

h2>a {
    margin-left: 5%;
}