p,
q,
blockquote {
    font-family: 'kanit';
    font-size: var(--header-3);
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    font-family: 'kanit';
    padding-top: 10px;
}

h2 {
    font-family: 'kanit';
    font-size: var(--header-2);
    padding-left: 10px;
    font-weight: normal;
}

body {
    background-color: var(--quartz);
}

p>a {
    color: var(--texte);
}

h4 {
    text-align: center;
    font-size: var(--header-4);
    font-family: 'kanit';
    font-weight: normal;
}

h4>a {
    color: var(--texte);
}

blockquote {
    font-family: 'kanit';
    font-size: var(--header-3);
}

dd {
    font-family: 'kanit';
    font-size: var(--header-3);
    margin-right: 5%;
}

h2>a {
    text-decoration: none;
    text-align: center;
    color: var(--texte);
    margin-left: 5%;
}

.glossaire {
    font-family: 'kanit';
    font-size: var(--header-3);
    margin-right: 20px;
}

figcaption {
    font-family: 'kanit';
    font-size: var(--header-3);
}

/* Page autres projets */

section>a {
    font-size: var(--header-2);
    text-decoration: none;
    color: var(--texte);
    text-align: center;
    margin-right: 20%;
}