.logo {
    align-items: flex-start;
}


.block {
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: var(--bleu-clair);
    color: var(--quartz);
}

.bouton {
    padding-left: 50%;
    text-align: center;
    padding-top: 50%;
}

.triangle {
    position: relative;
    justify-content: flex-start;
    object-position: middle;
}

img {
    object-position: middle;
}