.logo {
    align-items: flex-start;
}


.block {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: var(--bleu-clair);
    color: var(--quartz);
}

.bouton {
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: -5%;
    padding: 5% 10%;
    border-radius: 5px 5px;
    display: table;
}

.triangle {
    margin-left: 5%;
    max-width: 100%;
}

.img_art {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

label {
    font-size: var(--header-3);
    font-family: 'kanit';
    display: flex;
    margin-left: 10%;
}

input,
textarea {
    font-size: var(--header-3);
    font-family: 'kanit';
    margin-left: 10%;
    padding-right: 20%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    background-color: var(--grey);
    border-color: var(--bleu-clair);
}