.logo {
    align-items: flex-start;
}

body {
    background-color: var(--quartz);
}

.block {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: var(--bleu-clair);
    color: var(--quartz);
    border: 20px;
}

.img_art {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

article>img {
    max-width: 50%;
    margin-left: 20px;
    position: relative;
    top: 80px;
    z-index: -10;
}