.footer {
    background-color: var(--bleu-fonce);
    color: white;
    text-decoration: none;
    font-family: 'rubik';
    font-size: var(--body);
    padding-top: 5%;
    margin-top: 5%;

}

.footer li {
    text-decoration: none;
    list-style-type: none;
    color: white;
    margin: 10px;
    text-align: left;
}

.footer a {
    text-decoration: none;
    font-family: 'rubik';
    color: white;
}

.mention {
    font-size: var(--header-4);
}

.footer img {
    max-width: 20%;
    margin-left: 7%;
    margin-bottom: 10%;
    justify-content: center;
}