/* Mise en forme de l'arrière plan du footer */

.footer {
    background-color: var(--bleu-fonce);
    color: var(--quartz);
    text-decoration: none;
    font-family: 'rubik';
    font-size: var(--body);
    padding-top: 10px;
    margin-top: 10px;
}

/* Mise en forme du texte */

.mention {
    font-size: var(--header-4);
    margin-right: 12%;
}

.footer li {
    text-decoration: none;
    list-style-type: none;
    color: var(--quartz);
    margin-left: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.footer a {
    text-decoration: none;
    font-family: 'rubik';
    color: var(--quartz);
}

/* Mise en forme des logos */

.footer img {
    max-width: 50px;
    margin-left: 38px;
    margin-bottom: 40px;
    vertical-align: middle;
    align-items: center;
}