/* Arrière-plan du header */

.header {
    background-color: var(--bleu-fonce);
}

/* Titres des différentes pages */

.title {
    font-size: var(--titre);
    color: var(--quartz);
    font-family: 'gemunu libre';
    text-align: center;
    padding-bottom: 30px;
}

.titre {
    font-family: 'rubik';
    font-size: var(--header-1);
    color: var(--quartz);
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 170px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.annex {
    font-family: 'rubik';
    font-size: var(--header-1);
    color: var(--quartz);
    text-align: center;
    position: absolute;
    display: block;
    z-index: 1;
    top: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

/* Mise en forme des logos */

.watch {
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.language {
    max-width: 30%;
    margin-left: 5%;
    margin-top: 5%;
}

/* Mise en forme des images*/

.img_tit {
    max-width: 100%;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: block;
}

.triangle {
    margin-left: 30px;
    max-width: 80%;
    margin-bottom: 10px;
}