.header {
    background-color: var(--bleu-fonce);
}

.header li {
    list-style: none;
}

.title {
    font-size: var(--titre);
    color: white;
    font-family: 'gemunu libre';
    text-align: center;
    margin-bottom: 20%;
}

.watch {
    width: 15%;
    margin-left: 5%;
    margin-top: 5%;
}

.language {
    max-width: 30%;
    margin-left: 5%;
    margin-top: 5%;
}

.annex {
    font-family: 'rubik';
    font-size: var(--header-1);
    color: var(--quartz);
    text-align: justify;
    position: absolute;
    z-index: 1;
    padding-top: 20%;
    padding-left: 20%;
}

.header_high {
    margin-left: auto;
    margin-right: auto;
}

.img_tit {
    width: 100%;
}

.triangle {
    margin-left: 10%;
    width: 80%;
}