.header,
.headeer ol {
    background-color: var(--bleu-fonce);

}

.header li {
    list-style: none;
}

.title {
    font-size: var(--titre);
    color: white;
    font-family: 'gemunu libre';
    text-align: center;
    padding-bottom: 10%;
}

.watch,
.language {
    display: inside;
}

.watch {
    max-width: 20%;
}

.language {
    max-width: 30%;
    display: internal;
}