.header {
    background-color: var(--bleu-fonce);
}

.header li {
    list-style: none;
}

.title {
    font-size: var(--titre);
    color: white;
    font-family: 'gemunu libre';
    text-align: center;
    padding-bottom: 20%;
}

.watch {
    max-width: 15%;
    margin-left: 5%;
    margin-top: 5%;
}

.language {
    max-width: 30%;
    margin-left: 5%;
    margin-top: 5%;
}

.annex {
    font-size: var(--header-1);
    font-family: 'rubik';
    color: var(--quartz);
    text-align: center;
    position: absolute;
    display: grid;
    z-index: 1;
    margin-left: 10%;
}