.nav-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after {
    content: "";
    background-color: var(--quartz);
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    transition: all.4s ease-in-out;
}

.nav-toggle-bar::before {
    top: -15px;
}

.nav-toggle-bar::after {
    top: 15px;
}

.menu-open .nav-toggle-bar {
    transform: rotate(135deg);
    background-color: var(--quartz);
}

.menu-open .nav-toggle-bar::before,
.menu-open .nav-toggle-bar::after {
    transform: rotate(90deg);
    background-color: var(--quartz);
    top: 0;
}

/*MENU*/

.menu {
    background-color: var(--bleu-triangle);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all .4s;
    z-index: 1;
}

.menu-open .menu {
    transform: translateX(0);
}

/* Bug IOS
/* L'overflow doit être appliqué sur l'élément body ET html
/* pour faire disparaître le scroll sur Safari IOS
*/
.menu-open,
.menu-open {
    overflow: hidden;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    font-family: 'kanit';
    font-size: var(--header-2);
    font-weight: lighter;
}

.menu-li {
    transform: translateX(10%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a {
    color: var(--quartz);
    display: flex;
    align-items: center;
    margin: 15%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.menu-open .menu-li {
    transform: translateX(0);
    opacity: 1;
}