.nav-toggle {
    /*background-color: orange;*/
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after {
    content: "";
    background-color: white;
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    transition: all.4s ease-in-out;
}

.nav-toggle-bar::before {
    top: -15px;
}

.nav-toggle-bar::after {
    top: 15px;
}

.menu-open .nav-toggle-bar {
    transform: rotate(135deg);
    background-color: white;
}

.menu-open .nav-toggle-bar::before,
.menu-open .nav-toggle-bar::after {
    transform: rotate(90deg);
    background-color: white;
    top: 0;
}

/*MENU*/

.menu {
    background-color: var(--bleu-triangle);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all .4s;
    z-index: 1;
}

.menu-open .menu {
    transform: translateX(0);
}

/* Bug IOS
/* L'overflow doit être appliqué sur l'élément body ET html
/* pour faire disparaître le scroll sur Safari IOS
*/
.menu-open,
.menu-open {
    overflow: hidden;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    font-family: 'kanit';
    font-size: var(--header-2);
    font-weight: lighter;
}

.menu-li {
    margin-bottom: 30px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .3s ease;
}

.menu a {
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.menu-open .menu-li {
    transform: translateX(0);
    opacity: 1;
}

.menu-open .menu-li:nth-child(n+1) {
    transition-delay: .3s;
}

.menu-open .menu-li:nth-child(n+2) {
    transition-delay: .35s;
}

.menu-open .menu-li:nth-child(n+3) {
    transition-delay: .4s;
}

.menu-open .menu-li:nth-child(n+4) {
    transition-delay: .45s;
}

.menu-open .menu-li:nth-child(n+5) {
    transition-delay: .5s;
}

.menu-open .menu-li:nth-child(n+6) {
    transition-delay: .5.5s;
}

.menu-open .menu-li:nth-child(n+7) {
    transition-delay: .6s;
}

.menu-open .menu-li:nth-child(n+8) {
    transition-delay: .6.5s;
}